<div class="noc-search-form  w-100-p">
  <form *ngIf="searchForm" class="noc-section-body pt-8 w-100-p" fxLayout="column" fxLayoutAlign="start stretch"
    name="searchForm" [formGroup]="searchForm">
    <mat-form-field appearance="outline" class="noc-sm mb-4 noc-review-input">
      <mat-label>Category</mat-label>
      <mat-select placeholder="" formControlName="category" [compareWith]="compareCategory">
        <mat-option *ngFor="let category of categories.options" [value]="category">
          {{category.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--  <div class="px-8 noc-group-row" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="180px">
        <p> Category </p>
      </div>
      <mat-radio-group fxFlex="" formControlName="category" fxLayout="row" fxLayoutAlign="start center">
        <mat-radio-button *ngFor="let category of categories.options" [value]="category"
          class="noc-radio-button-rounded mb-8" [checked]="category.name === 'name'">
          {{category.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div> -->
    <div class="noc-annoton-group-row mb-4 w-100-p" fxLayout="row" fxLayoutAlign="start stretch">
      <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.term" appearance="outline"
        class="noc-sm noc-review-input mr-8">
        <mat-label>Find What <strong>(Ontology Term)</strong></mat-label>
        <textarea type="text" matInput formControlName="findWhat" [matAutocomplete]="termFindAuto" rows="2"></textarea>
        <mat-autocomplete #termFindAuto="matAutocomplete" (optionSelected)="findSelected($event.option.value)"
          [displayWith]="termDisplayFn" class="noc-term-autocomplete">
          <mat-option class="noc-term-autocomplete" *ngFor="let item of termNode?.termLookup.results" [value]="item">
            <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-term-label">
                {{ item.label }}
              </div>
              <span fxFlex></span>
              <div class="noc-term-id">
                {{ item.id }}
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.gp" appearance="outline"
        class="noc-sm  noc-review-input">
        <mat-label>Find What <strong>(Gene Product)</strong></mat-label>
        <textarea type="text" matInput formControlName="findWhat" [matAutocomplete]="gpAuto" rows="2"></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.reference" appearance="outline"
        class="noc-sm mr-8  noc-review-input">
        <mat-label>Find What <strong>(Reference)</strong></mat-label>
        <textarea type="text" matInput formControlName="findWhat"></textarea>
      </mat-form-field>
      <div class="noc-review-actions" fxLayout="row" fxLayoutAlign="start center" fxFlex="">
        <div *ngIf="noctuaReviewSearchService.matchedCount===0" class="noc-matched-count">
          No Results
        </div>
        <div *ngIf="noctuaReviewSearchService.matchedCount>0" class="noc-matched-count">
          {{noctuaReviewSearchService.matchedCountCursor +1}} of {{noctuaReviewSearchService.matchedCount}}
        </div>
        <span fxFlex></span>
        <div [ngClass]="{'noc-disabled':noctuaReviewSearchService.matchedCount===0}">
          <button mat-icon-button (click)="findPrevious()" class="" color="primary">
            <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
          </button>
          <button mat-icon-button (click)="findNext()" class="" color="primary">
            <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div [ngClass]="{'noc-disabled':!displayReplaceForm.replaceSection}" class="noc-annoton-group-row w-100-p"
      fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.term" appearance="outline"
        class="noc-sm mr-8 noc-review-input">
        <mat-label>Replace With <strong>(Ontology Term)</strong></mat-label>
        <textarea type="text" matInput formControlName="replaceWith" [matAutocomplete]="termReplaceAuto"></textarea>
        <mat-autocomplete #termReplaceAuto="matAutocomplete" [displayWith]="termDisplayFn"
          class="noc-term-autocomplete">
          <mat-option class="noc-term-autocomplete" *ngFor="let item of termReplaceNode?.termLookup.results"
            [value]="item">
            <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
              <div class="noc-term-label">
                {{ item.label }}
              </div>
              <span fxFlex></span>
              <div class="noc-term-id">
                {{ item.id }}
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.gp" appearance="outline"
        class="noc-sm mr-8  noc-review-input">
        <mat-label>Replace With <strong>(Gene Product)</strong></mat-label>
        <textarea type="text" matInput formControlName="replaceWith" [matAutocomplete]="gpAuto"></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.reference" appearance="outline"
        class="noc-sm mr-8  noc-review-input">
        <mat-label>Replace With <strong>(Reference)</strong></mat-label>
        <textarea type="text" matInput formControlName="replaceWith"></textarea>
      </mat-form-field>
      <div [ngClass]="{'noc-disabled':!displayReplaceForm.replaceActions}" class="noc-review-actions" fxLayout="row"
        fxLayoutAlign="space-between center">
        <button (click)="replace()" mat-raised-button color="warn" class="noc-sm p-0 mr-4 noc-review-btn" fxFlex="50">
          Replace
        </button>
        <button (click)="replaceAll()" mat-raised-button color="warn" class="noc-sm p-0 noc-review-btn" fxFlex="50">
          Replace All
        </button>
      </div>
    </div>
  </form>
</div>

<mat-autocomplete #gpAuto="matAutocomplete" [displayWith]="termDisplayFn" class="noc-term-autocomplete">
  <mat-option class="noc-term-autocomplete" *ngFor="let item of gpNode?.termLookup.results" [value]="item">
    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-term-label">
        {{ item.label }}
      </div>
      <span fxFlex></span>
      <div class="noc-term-id">
        {{ item.id }}
      </div>
    </div>
  </mat-option>
</mat-autocomplete>
