<div class="w-100-p">
  <div [attr.id]="annoton.displayId" class="w-100-p"
    [ngClass]="{'noc-selected': annoton.displayId===camsService.currentMatch?.annotonDisplayId}">
    <div class="noc-annoton-table-heading" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="25px" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="toggleExpand(annoton)" color="primary" class="noc-toggle-expand-button">
          <fa-icon *ngIf="!annoton.expanded" [icon]="['fas', 'caret-right']"></fa-icon>
          <fa-icon *ngIf="annoton.expanded" [icon]="['fas', 'caret-down']"></fa-icon>
        </button>
      </div>
      <div class="noc-display-number noc-sm mr-8" (click)="$event.stopPropagation()">
        {{annoton.displayNumber}}
      </div>
      <div class="noc-title  mr-12" fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-relationship mr-12"> <small>{{gpNode?.predicate?.edge?.label}}</small> </div>
        <div class="noc-gp" *ngIf="gpNode" [attr.id]="gpNode.term?.displayId" [ngClass]="{'noc-highlight-match': gpNode.term?.highlight,
        'noc-highlight-modified': gpNode.term?.modified,
        'noc-highlight-match-current': gpNode.term?.uuid===camsService.currentMatch?.uuid}" fxLayout="column"
          fxLayoutAlign="center start">
          <p class="noc-old-term text-truncate" *ngIf="gpNode.term?.modified && gpNode.term?.termHistory?.length>0">
            {{gpNode.term?.termHistory[0]?.label}}
            <a (click)="$event.stopPropagation()" href="{{gpNode.term?.termHistory[0]?.url}}" target="_blank">
              {{ gpNode.term?.termHistory[0]?.id }}
            </a>
          </p>
          <p class="text-truncate">
            {{gpNode.term?.label}}
          </p>
          <a class="text-truncate" (click)="$event.stopPropagation()" href="{{gpNode.term?.url}}" target="_blank">
            {{ gpNode.term?.id }}
          </a>
          <noctua-inline-editor *ngIf="noctuaUserService.user && gpNode.term && options.editableTerms" [cam]="cam"
            [annoton]='annoton' [entity]="gpNode" [category]="EditorCategory.term" class="noc-edit-button">
          </noctua-inline-editor>
        </div>
      </div>
      <mat-chip class="noc-chip-xs" [ngClass]="annoton.annotonType">
        <span>{{annotonTypeOptions[annoton.annotonType]?.label}}</span>
      </mat-chip>
      <div *ngIf="annoton.hasViolations" class="noc-error" fxLayout="row" fxLayoutAlign="start center">
        <mat-chip class="noc-error-chip" fxLayout="row" fxLayoutAlign="start center"
          (click)="displayAnnotonErrors(annoton)">
          <div class="noc-icon">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
          </div>
          <div fxFlex="" class="noc-chip-label">
            {{annoton.violations?.length}} Errors Found
          </div>
        </mat-chip>
      </div>
      <span fxFlex=""></span>
      <!--
    <div *ngIf="!options.reviewMode" class="" fxFlex="200px" fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="annoton.annotonType !==AnnotonType.ccOnly" mat-stroked-button
        (click)="openAnnotonConnector(annoton)" color="primary" class="noc-rounded-button noc-sm mr-8"
        matTooltip="connect activity causal relation" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
        <small>Connect</small>
      </button>
       <button mat-stroked-button (click)="openAnnotonForm(annoton)" color="primary"
        class="noc-rounded-button noc-sm mr-8">
        <small>Edit</small>
      </button> 
      <button mat-icon-button class="noc-rounded-button noc-sm" fxFlex="40px" color="primary"
        [matMenuTriggerFor]="connectionOptionMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #connectionOptionMenu="matMenu" class="noc-dropdown-menu">
        <h6 class="noc-menu-heading"> Danger Zone</h6>
        <button mat-menu-item class="" (click)="deleteAnnoton(annoton)">
          Delete Activity
        </button>
      </mat-menu>
     
    </div>-->
    </div>
  </div>

  <div *ngIf="annoton.expanded" class="noc-annoton-table w-100-p"
    [ngClass]="{'noc-selected': annoton.displayId===camsService.currentMatch?.annotonDisplayId}" fxLayout="column"
    fxLayoutAlign="start start">
    <table mat-table fxFlex="1 1 auto" class="" [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
      <ng-container matColumnDef="relationship" sticky>
        <th mat-header-cell *matHeaderCellDef fxFlex="220px" fxLayout="row" fxLayoutAlign="start center">Relationship
        </th>
        <td mat-cell *matCellDef="let entity" fxFlex="220px" sticky
          [ngStyle]="{'padding-left':(entity.treeLevel-1) * 20+'px'}">
          <p class="">
            <strong> {{entity.qualifier}} </strong>
            {{entity.predicate?.edge?.label}}
          </p>
          <noctua-inline-editor *ngIf="noctuaUserService.user && entity.relationEditable && !options.reviewMode"
            [cam]="cam" [annoton]='annoton' [entity]="entity" [category]="EditorCategory.relationship"
            class="noc-edit-button">
          </noctua-inline-editor>
        </td>
      </ng-container>
      <ng-container matColumnDef="aspect">
        <th mat-header-cell *matHeaderCellDef fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">Asp</th>
        <td mat-cell *matCellDef="let entity" fxFlex="30px">
          <p class="">{{entity.aspect}}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="extension">
        <th mat-header-cell *matHeaderCellDef fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">Ext</th>
        <td mat-cell *matCellDef="let entity" fxFlex="30px">
          <p *ngIf="entity.isExtension" class="">Yes</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="term">
        <th mat-header-cell *matHeaderCellDef class="noc-column-flex" fxFlex="200px" fxLayout="row"
          fxLayoutAlign="start center">Term</th>
        <td mat-cell class="noc-column-flex" *matCellDef="let entity" fxFlex="200px" fxLayout="column"
          fxLayoutAlign="start stretch" [attr.id]="entity.term?.displayId" [ngClass]="{'noc-highlight-match': entity.term?.highlight,
            'noc-highlight-modified': entity.term?.modified,
            'noc-highlight-match-current': entity.term?.uuid===camsService.currentMatch?.uuid}">
          <p class="noc-old-term" *ngIf="entity.term?.modified && entity.term?.termHistory?.length>0">
            {{entity.term?.termHistory[0]?.label}}
            <a (click)="$event.stopPropagation()" href="{{entity.term?.termHistory[0]?.url}}" target="_blank">
              {{ entity.term?.termHistory[0]?.id }}
            </a>
          </p>
          <p class="">
            {{entity.term?.label}} <br>
            <a (click)="$event.stopPropagation()" href="{{entity.term?.url}}" target="_blank">
              {{ entity.term?.id }}
            </a>
          </p>
          <noctua-inline-editor *ngIf="noctuaUserService.user && entity.term && options.editableTerms" [cam]="cam"
            [annoton]='annoton' [entity]="entity" [category]="EditorCategory.term" class="noc-edit-button">
          </noctua-inline-editor>
        </td>
      </ng-container>
      <ng-container matColumnDef="evidence">
        <th mat-header-cell *matHeaderCellDef fxFlex="" fxLayout="row" fxLayoutAlign="center center">
          Evidence
        </th>
        <td mat-cell *matCellDef="let entity; let i = index;" fxFlex="" class="p-0">
          <noc-evidence-table *ngIf="i===0" class="w-100-p" [options]="options" [cam]="cam" [entity]="entity">
          </noc-evidence-table>
          <noc-evidence-table *ngIf="i>0" class="w-100-p" [options]="optionsDisplay" [cam]="cam" [entity]="entity">
          </noc-evidence-table>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef fxFlex="50px" fxLayout="row" fxLayoutAlign="start center"></th>
        <td mat-cell *matCellDef="let entity" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex=""></span>
          <button mat-icon-button *ngIf="noctuaUserService.user" (click)="updateCurrentMenuEvent($event)"
            class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="entityMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu">
            <button mat-menu-item *ngIf="entity.treeLevel===0" class="" (click)="toggleIsComplement(entity)">
              NOT Qualifier
            </button>
            <button mat-menu-item *ngIf="entity.insertMenuNodes" [matMenuTriggerFor]="addMenu">Add</button>
            <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
          </mat-menu>
          <mat-menu #addMenu="matMenu">
            <button mat-menu-item *ngFor="let insertMenuItem of entity.insertMenuNodes" class=""
              (click)="insertEntity(entity, insertMenuItem)">
              {{insertMenuItem.label}}
            </button>
          </mat-menu>
          <mat-menu #evidenceMenu="matMenu">
            <button mat-menu-item (click)="addEvidence(entity, entity.predicate?.evidenceIndex)" class="">
              Add Evidence
            </button>
            <!--   <button (click)="removeEvidence(entity,i)" mat-menu-item>
                Remove Evidence
              </button> -->
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let entity; columns: displayedColumns;" class="" matRipple [ngClass]="{'noc-row-term': entity.term,
          'noc-row-selected': entity.uuid === noctuaAnnotonEntityService.termNode?.uuid}"></tr>
    </table>
    <div *ngIf="annoton.nodes?.length===0" class="noc-no-info">
      no results yet.
    </div>
  </div>
</div>