<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-cams noc-drawer h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Annotation Review Tool</span>
    <span fxFlex></span>
  </div>
  <div id="noc-review-results" class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>
    <div *ngIf="!noctuaUserService.user" class="noc-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <!--   <div class="noc-search-form noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
      <form *ngIf="searchForm" class="noc-section-body pt-8" fxLayout="column" fxLayoutAlign="start stretch"
        name="searchForm" [formGroup]="searchForm" class="w-100-p h-100-p">
        <div class="noc-annoton-group-row mb-8" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" fxFlex="150px" class="noc-sm">
            <mat-label>Category</mat-label>
            <mat-select placeholder="" formControlName="category" [compareWith]="compareCategory">
              <mat-option *ngFor="let category of categories.options" [value]="category">
                {{category.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.term" appearance="outline" fxFlex
            class="noc-sm mr-12">
            <mat-label>Find What <strong>(Ontology Term)</strong></mat-label>
            <input type="text" matInput formControlName="findWhat" [matAutocomplete]="termFindAuto" rows="2" />
            <mat-autocomplete #termFindAuto="matAutocomplete" (optionSelected)="findSelected($event.option.value)"
              [displayWith]="termDisplayFn" class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of termNode?.termLookup.results"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.gp" appearance="outline" fxFlex
            class="noc-sm mr-12">
            <mat-label>Find What <strong>(Gene Product)</strong></mat-label>
            <input type="text" matInput formControlName="findWhat" [matAutocomplete]="gpAuto" rows="2" />
          </mat-form-field>
          <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.reference" appearance="outline" fxFlex
            class="noc-sm mr-12">
            <mat-label>Find What <strong>(Reference)</strong></mat-label>
            <input type="text" matInput formControlName="findWhat" />
          </mat-form-field>
          <div class="noc-review-actions" fxLayout="row" fxLayoutAlign="start center">
            <div *ngIf="noctuaReviewSearchService.matchedCount===0" class="noc-matched-count">
              No Results
            </div>
            <div *ngIf="noctuaReviewSearchService.matchedCount>0" class="noc-matched-count">
              {{noctuaReviewSearchService.matchedCountCursor +1}} of {{noctuaReviewSearchService.matchedCount}}
            </div>
            <span fxFlex></span>
            <div [ngClass]="{'noc-disabled':noctuaReviewSearchService.matchedCount===0}">
              <button mat-icon-button (click)="findPrevious()" class="" color="primary">
                <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
              </button>
              <button mat-icon-button (click)="findNext()" class="" color="primary">
                <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div [ngClass]="{'noc-disabled':!displayReplaceForm.replaceSection}" class="noc-annoton-group-row"
          fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="150px" class="noc-sm">
          </div>
          <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.term" appearance="outline" fxFlex
            class="noc-sm mr-12">
            <mat-label>Replace With <strong>(Ontology Term)</strong></mat-label>
            <input type="text" matInput formControlName="replaceWith" [matAutocomplete]="termReplaceAuto" />
            <mat-autocomplete #termReplaceAuto="matAutocomplete" [displayWith]="termDisplayFn"
              class="noc-term-autocomplete">
              <mat-option class="noc-term-autocomplete" *ngFor="let item of termReplaceNode?.termLookup.results"
                [value]="item">
                <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                  <div class="noc-term-label">
                    {{ item.label }}
                  </div>
                  <span fxFlex></span>
                  <div class="noc-term-id">
                    {{ item.id }}
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.gp" appearance="outline" fxFlex
            class="noc-sm mr-12">
            <mat-label>Replace With <strong>(Gene Product)</strong></mat-label>
            <input type="text" matInput formControlName="replaceWith" [matAutocomplete]="gpAuto" />
          </mat-form-field>
          <mat-form-field *ngIf="selectedCategoryName === ArtReplaceCategory.reference" appearance="outline" fxFlex
            class="noc-sm mr-12">
            <mat-label>Replace With <strong>(Reference)</strong></mat-label>
            <input type="text" matInput formControlName="replaceWith" />
          </mat-form-field>
          <div [ngClass]="{'noc-disabled':!displayReplaceForm.replaceActions}" class="noc-review-actions" fxLayout="row"
            fxLayoutAlign="space-between center">
            <button (click)="replace()" mat-raised-button color="warn" class="noc-sm noc-review-btn" fxFlex="48">
              Replace
            </button>
            <button (click)="replaceAll()" mat-raised-button color="warn" class="noc-sm noc-review-btn" fxFlex="48">
              Replace All
            </button>
          </div>
        </div>
      </form>
    </div> -->
    <div class="noc-cams-results">
      <div class="noc-cam-container" *ngFor="let cam of cams" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngIf="cam?.loading.status" class="noc-cam-heading noc-loading-container" fxLayout="column"
          fxLayoutAlign="center center">
          <mat-progress-spinner class="example-margin" [color]="loadingSpinner.color" [mode]="loadingSpinner.mode">
          </mat-progress-spinner>
          <div *ngIf="cam?.title" class="noc-title" fxLayout="row" fxLayoutAlign="start center">
            <div class="text-truncate pr-8">
              <strong>Title: </strong>{{cam?.title }}
            </div>
          </div>
          <h3>
            {{cam?.loading.message}}
          </h3>
        </div>
        <div *ngIf="!cam?.loading.status" class="noc-cam-heading" fxFlex="1 1 auto" fxLayout="row"
          fxLayoutAlign="start center" [@animateStagger]="{value:'50'}">
          <button mat-icon-button (click)="cam.toggleExpand()" class="">
            <fa-icon *ngIf="!cam.expanded" [icon]="['fas', 'chevron-right']"></fa-icon>
            <fa-icon *ngIf="cam.expanded" [icon]="['fas', 'chevron-down']"></fa-icon>
          </button>
          <div *ngIf="cam?.title" class="noc-title" fxLayout="row" fxLayoutAlign="start center">
            <div class="text-truncate pr-8">
              <strong>Title: </strong>{{cam?.title }}
            </div>
          </div>
          <div fxFlex></div>
          <button mat-button class="" fxFlex="100px" color="primary" (click)="resetCam(cam)">
            Reset
          </button>
          <button mat-icon-button class="" fxFlex="40px" color="primary" [matMenuTriggerFor]="activityOptionMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #activityOptionMenu="matMenu" class="noc-dropdown-menu">
            <button mat-menu-item class="" (click)="viewAsModel(cam)">
              View Whole Model
            </button>
            <button mat-menu-item class="" (click)="viewAsActivities(cam)">
              Only Matched Activities
            </button>
            <button mat-menu-item class="" (click)="cam.expandAllAnnotons(true)">
              Expand All
            </button>
            <button mat-menu-item class="" (click)="cam.expandAllAnnotons(false)">
              Collapse All
            </button>
          </mat-menu>
        </div>
        <noc-cam-table [cam]="cam" *ngIf="cam.expanded" [options]="tableOptions"></noc-cam-table>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <button (click)='cancel()' type="button" mat-raised-button color="" class="mr-8">Cancel</button>
    <span fxFlex></span>
    <button (click)='resetAll()' type="button" mat-raised-button color="" class="mr-8">Reset</button>
    <button (click)="reviewChanges()" type="submit" class="" mat-raised-button color="primary">
      Review Your Changes
    </button>
  </div>
</div>
<mat-autocomplete #gpAuto="matAutocomplete" [displayWith]="termDisplayFn" class="noc-term-autocomplete">
  <mat-option class="noc-term-autocomplete" *ngFor="let item of gpNode?.termLookup.results" [value]="item">
    <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-term-label">
        {{ item.label }}
      </div>
      <span fxFlex></span>
      <div class="noc-term-id">
        {{ item.id }}
      </div>
    </div>
  </mat-option>
</mat-autocomplete>
